<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 محصول سال:
    <a href="mailto:kavoshnet.net@gmail.com"> مهدی اخلاص</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->