@page "/counter"
@inject IJSRuntime js
<p> Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
Enter your name:<input autofocus @ref=myref/>
@code{
    ElementReference myref;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("setFocus", myref);
        }
    }
}