@page "/login"
@inject HttpClient http
@inject ILoginService  loginService
@inject NavigationManager navigationManager
@using BlazorCRUDApp.Client.Auth
<h3>ورود کاربر</h3>
<EditForm Model="userInfo" OnValidSubmit="LoginUser">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="Email">آدرس ایمیل</label>
        <InputText @bind-Value="@userInfo.Email" class="form-control" placeholder="آدرس ایمیل را وارد کنید" />
        <ValidationMessage For="@(()=> userInfo.Email)" />
    </div>
    <div class="form-group">
        <label for="Password">کلمه عبور</label>
        <InputPassword @bind-Value="@userInfo.Password" class="form-control" placeholder="کلمه عبور را وارد کنید" />
        <ValidationMessage For="@(()=> userInfo.Password)" />
    </div>
    <button type="submit" class="btn btn-primary">ورود کاربر</button>
</EditForm>
@code {
    private UserInfo userInfo = new UserInfo();
    async Task LoginUser()
    {
        var result = await http.PostJsonAsync<UserToken>("api/accounts/login", userInfo);
        await loginService.Login(result.Token);
        navigationManager.NavigateTo("");
    }
}
